@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.articles {
    @include respond-to('tablet') {
        padding: 50px 0;

        .container {
            padding: 0 20px;
        }
    }

    @include respond-to('mobile-lg') {
        padding: 40px 0;
    }

    &__header {
        @include respond-to('tablet') {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            margin-bottom: 32px;
        }
    }

    &__title {
        @include respond-to('tablet') {
            font-size: 32px;
        }

        @include respond-to('mobile-lg') {
            font-size: 28px;
        }
    }

    &__view-all {
        @include respond-to('tablet') {
            font-size: 14px;
        }
    }

    &__grid {
        @include respond-to('tablet') {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }

    &__card {
        @include respond-to('tablet') {
            min-height: auto;

            &--image {
                height: 220px;
            }

            &--content {
                padding: 25px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        @include respond-to('mobile-lg') {
            &--image {
                height: 200px;
            }

            &--content {
                padding: 20px;
            }
        }
    }

    &__card-title {
        @include respond-to('tablet') {
            font-size: 20px;
            margin-bottom: 12px;
            line-height: 1.3;
        }

        @include respond-to('mobile-lg') {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    &__card-description {
        @include respond-to('tablet') {
            font-size: 14px;
            line-height: 1.6;
        }

        @include respond-to('mobile-lg') {
            font-size: 13px;
        }
    }
}

