@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.best-offers {
    @include respond-to('tablet') {
        padding: 40px 0 30px;

        .container {
            padding: 0 20px;
        }
    }

    &__title {
        @include respond-to('tablet') {
            font-size: 32px;
            margin-bottom: 32px;
        }

        @include respond-to('mobile-lg') {
            font-size: 28px;
            margin-bottom: 24px;
        }
    }

    &__grid {
        @include respond-to('tablet') {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }

    &__card {
        @include respond-to('tablet') {
            &--large {
                grid-column: auto;
                grid-row: auto;
            }

            &--highlight {
                grid-column: auto;
                grid-row: auto;
            }
        }
    }

    &__content {
        @include respond-to('tablet') {
            padding: 16px;
        }
    }

    &__card-title {
        @include respond-to('tablet') {
            font-size: 16px;
        }
    }

    &__description {
        @include respond-to('tablet') {
            font-size: 11px;
        }
    }

    &__link {
        @include respond-to('tablet') {
            font-size: 10px;
        }
    }
}

