@use '../utils/variables' as *;

.content-section {
    background-color: $color-dark;
    padding: 40px 0;

    &__wrapper {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
    }

    &__title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        color: $color-white;
        margin: 0 0 24px 0;
        line-height: 1.3;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: $font-weight-bold;
        color: $color-white;
        margin: 48px 0 24px 0;
        line-height: 1.3;
    }

    &__text {
        font-size: 14px;
        font-weight: $font-weight-normal;
        color: #A0A0A0;
        line-height: 1.8;
        margin: 0 0 16px 0;
    }
}

