@use '../utils/variables' as *;

.contact-banner {
    position: relative;
    background-color: $color-primary;
    padding: 60px 0;
    overflow: hidden;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/images/footer_background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.3;
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: $font-weight-normal;
        color: $color-black;
        margin: 0 0 12px 0;
        text-transform: capitalize;
    }

    &__title {
        font-size: 64px;
        font-weight: $font-weight-bold;
        color: $color-black;
        margin: 0 0 40px 0;
        line-height: 1.2;
        letter-spacing: -1px;
    }

    &__form {
        display: flex;
        gap: 0;
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    }

    &__input {
        flex: 1;
        padding: 18px 24px;
        font-size: 14px;
        font-weight: $font-weight-normal;
        color: $color-black;
        background-color: $color-white;
        border: none;
        border-radius: 4px 0 0 4px;
        outline: none;
        font-family: inherit;

        &::placeholder {
            color: #999999;
        }

        &:focus {
            outline: 2px solid rgba(0, 0, 0, 0.1);
            outline-offset: -2px;
        }
    }

    &__button {
        padding: 18px 40px;
        font-size: 14px;
        font-weight: $font-weight-medium;
        color: $color-white;
        background-color: $color-black;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        transition: background-color $transition-base;
        font-family: inherit;
        white-space: nowrap;

        &:hover {
            background-color: #333333;
        }

        &:active {
            background-color: #000000;
        }
    }
}

