@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.expertise {
    @include respond-to('tablet') {
        padding: 50px 0;

        .container {
            padding: 0 20px;
        }
    }

    @include respond-to('mobile-lg') {
        padding: 40px 0;
    }

    &__label {
        @include respond-to('tablet') {
            font-size: 12px;
            letter-spacing: 1.5px;
            margin-bottom: 24px;
        }

        @include respond-to('mobile-lg') {
            font-size: 11px;
            margin-bottom: 20px;
        }
    }

    &__slider {
        @include respond-to('tablet') {
            min-height: 140px;
            padding: 0 10px;
        }

        @include respond-to('mobile-lg') {
            min-height: 120px;
        }
    }

    &__slide {
        @include respond-to('tablet') {
            font-size: 28px;
            line-height: 1.4;
            text-align: center;
        }

        @include respond-to('mobile-lg') {
            font-size: 22px;
            line-height: 1.5;
        }
    }

    &__dots {
        @include respond-to('tablet') {
            margin-top: 32px;
        }

        @include respond-to('mobile-lg') {
            margin-top: 24px;
        }
    }

    &__dot {
        @include respond-to('tablet') {
            width: 10px;
            height: 10px;
        }
    }
}

