@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.expertise {
    @include respond-to('tablet') {
        padding: 60px 0;

        .container {
            padding: 0 20px;
        }
    }

    @include respond-to('mobile-lg') {
        padding: 40px 0;
    }

    &__label {
        @include respond-to('tablet') {
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
    }

    &__slider {
        @include respond-to('tablet') {
            min-height: 120px;
        }

        @include respond-to('mobile-lg') {
            min-height: 100px;
        }
    }

    &__slide {
        @include respond-to('tablet') {
            font-size: 32px;
        }

        @include respond-to('mobile-lg') {
            font-size: 24px;
            line-height: 1.3;
        }
    }

    &__dots {
        @include respond-to('tablet') {
            margin-top: 30px;
        }

        @include respond-to('mobile-lg') {
            margin-top: 20px;
        }
    }
}

