@use '../utils/variables' as *;

.hero {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 700px;
    background-image: url('../assets/images/main_banner.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    &__content {
        max-width: 800px;
    }

    &__title {
        font-size: 80px;
        font-weight: $font-weight-bold;
        color: $color-white;
        line-height: 1.1;
        margin: 0;
        text-align: left;
    }

    &__title-highlight {
        color: $color-primary;
    }
}

