@use '../utils/variables' as *;

.luxury-showcase {
    padding: 100px 0;
    background-color: $color-dark;

    &__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 60px;
    }

    &__image-wrapper {
        position: relative;
        width: 100%;
        padding-top: 60%;
        overflow: hidden;
        border-radius: 8px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    &__column {
        color: $color-white;
    }

    &__text {
        font-size: 16px;
        line-height: 1.8;
        color: rgba(255, 255, 255, 0.8);
        margin: 0;
    }
}

