@use '../utils/variables' as *;

.quote-section {
    padding: 100px 0;
    background-color: $color-dark;

    &__content {
        max-width: 900px;
        margin: 0 auto;
        padding: 50px 70px;
        border: 2px solid $color-primary;
        border-radius: 4px;
        background: transparent;
    }

    &__text {
        font-size: 18px;
        font-weight: $font-weight-normal;
        color: $color-white;
        line-height: 1.8;
        margin: 0 0 20px 0;
        font-style: italic;
        text-align: left;
    }

    &__author {
        display: block;
        font-size: 18px;
        font-weight: $font-weight-bold;
        color: $color-primary;
        text-align: right;
    }
}

