@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.btn {
    @include respond-to('tablet') {
        padding: 14px 28px;
        font-size: 15px;
        width: 100%;
        justify-content: center;
    }

    @include respond-to('mobile-lg') {
        padding: 12px 24px;
        font-size: 14px;
    }
}

.language-switcher {
    @include respond-to('tablet') {
        font-size: 16px;
    }
}

.header__phone {
    @include respond-to('tablet') {
        font-size: 18px;
        font-weight: 600;
        color: $color-primary;
    }
}

