@use '../utils/variables' as *;

.logo {
    display: flex;
    align-items: center;
    transition: opacity $transition-base;
    border-left: 4px solid $color-primary;
    padding-left: $spacing-sm;

    &:hover {
        opacity: 0.85;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        color: $color-white;
        line-height: 1;
        margin: 0;
        letter-spacing: -0.5px;
    }

    &__subtitle {
        font-size: 14px;
        font-weight: 400;
        color: $color-gray;
        margin: 4px 0 0 0;
        letter-spacing: 1px;
    }
}

