@use '../utils/variables' as *;
@use '../utils/breakpoints' as *;

.container {
    @include respond-to('desktop') {
        max-width: 1200px;
    }

    @include respond-to('tablet-lg') {
        max-width: 100%;
        padding: 0 40px;
    }

    @include respond-to('tablet') {
        padding: 0 20px;
    }

    @include respond-to('mobile-lg') {
        padding: 0 16px;
    }
}

body {
    @include respond-to('tablet') {
        font-size: 15px;
    }

    @include respond-to('mobile-lg') {
        font-size: 14px;
    }
}

h1 {
    @include respond-to('tablet') {
        font-size: 32px;
    }

    @include respond-to('mobile-lg') {
        font-size: 28px;
    }
}

h2 {
    @include respond-to('tablet') {
        font-size: 28px;
    }

    @include respond-to('mobile-lg') {
        font-size: 24px;
    }
}

h3 {
    @include respond-to('tablet') {
        font-size: 24px;
    }

    @include respond-to('mobile-lg') {
        font-size: 20px;
    }
}

